#dashboard{
	width: 500px;
	height: 500px;
	margin-top: 10px;
}
.panel-body{
	height: 300px;
}

#movieNetwork{
	float: top;
	position: absolute;
	margin-top: 0px;
	margin-left: 505px;
}

.charsel{
	list-style: none;
    padding: 0;
}
.charsel li{
    display:inline-block;
}
.charsel-image{
	width: 20px;
	height: 20px;
}
.charsel-name{
	font-weight: bold;
    margin-left: 5px;
}
.charsel-fullname{
	color: #777;
    display:block !important;
	font-size:small;
    margin-left: 25px;
}
